@charset " utf-8";
body {
    font-family: Arial, sans-serif;
    background-color: #18181b; /* Twitchのダークテーマの背景色 */
    color: #000000; /* 白に近い文字色 */
    margin: 0;
}
body {
    padding-top: 50px;
    padding-left: 150px;
  }

header {
    background-color: #9147ff; /* Twitchの代表的な紫色 */
    padding: 20px;

    /* 左寄せ */
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    color: white;
    font-size: 2.5rem;
}

  

/* ホームアイコン */
header a img {
    width: 40px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 20px;
}


.container {
    width: 67%;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

/* メイン */
.live-stream {
    text-align: center;
    margin-bottom: 40px;
}

.live-stream video {
    width: 100%;
    max-height: 500px;
    background-color: black;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.live-stream h2 {
    color: #f4f4f4;
    font-size: 1.8rem;
    margin-bottom: 20px;
}



/* おすすめチャンネル */
.recommended-channels {
    margin-top: 40px;
}

.recommended-channels h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #f4f4f4;
}

/* チャンネル枠*/
.channel {

    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    cursor: pointer;
}
/* でかくなるやつ */
.channel:hover {
    transform: scale(1.05);
}

.channel-info {
    margin-left: 20px;
}

.channel-info h3 {
    margin: 0;
    font-size: 1.4rem;
    color: #f4f4f4;
}

.channel-info p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #b9b9b9;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .channel {
        flex-direction: column;
        align-items: flex-start;
    }

    .channel img {
        margin-bottom: 10px;
    }

    .channel-info {
        margin-left: 0;
    }
}






/* 動画の横並び配置 */
.live-stream-sub1 {
    display: inline-block;
      /* 横に3つ並ぶように幅を調整 */
    padding-left: 120px;  /* 横の間隔 */
    vertical-align: top;
    box-sizing: border-box;
}

.live-stream-sub1 video {
    width: 105%;  /* 各動画がコンテナにフィットする */
      /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* 影をつける */
}

.live-stream-sub1 p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}
.sub-title{
    padding-left: 120px;
    font-size: 25px;
}

.live-stream-sub {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    box-sizing: border-box;
}

.live-stream-sub video {
    width: 105%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* 影をつける */
}

.live-stream-sub p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

