.video-page-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.video-player-section {
    width: 70%;
}

.video-player-section video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comment-section {
    width: 25%;
    position: fixed;
    right: 0px;
    top: 80px;
    background-color: #f4f4f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 70vh;
    overflow-y: auto;
}

.comment-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.comment-list {
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.comment-section textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-button {
    background-color: #9146FF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment-button:hover {
    background-color: #772ce8;
}
