{%  load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Twitch</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
<h1>Twitch</h1>

<!-- コンテンツを探す -->
<a href="Twitch index.html"><img src="null" alt="ホーム"></a>
</header>

<div class="container">

<!-- メイン画面 -->
<div class="live-stream">
<h2>メイン画面のやつ</h2>
<video controls>
<source src="null" type="video/mp4">。
</video>
</div>
</div>

<!-- おすすめチャンネル表示機能 -->
<div class="recommended-channels">
<h2>おすすめチャンネル</h2>
<div class="channel">
<div class="channel-info">
<img src="channel1.jpg" alt="Channel 1">
<div>
<h3>チャンネル名 1</h3>
<p>NULL</p>
</div>
</div>
</div>

<div class="channel">
<div class="channel-info">
<img src="channel2.jpg" alt="Channel 2">
<div>
<h3>チャンネル名 2</h3>
<p>NULL</p>
</div>
</div>
</div>

<div class="channel">
<div class="channel-info">
<img src="channel3.jpg" alt="Channel 3">
<div>
<h3>チャンネル名 3</h3>
<p>NULL</p>
</div>
</div>
</div>
</div>

</div>

</body>



</html>
