{%extends 'base.html'%}
{% load static %}
{% block title %}Twitch{%endblock%}
{% block contents %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container">






    <!-- メイン画面 -->

    {% if random_videos %}
    <div class="live-stream">
        <a href="{% url 'Twitchapp:video_detail' random_videos.0.pk %}">
        <video controls>
            <source src="{{ random_videos.0.movie.url }}" type="video/mp4">
            お使いのブラウザは video タグをサポートしていません。
        </video>
        <p>{{ random_videos.0.movie_title }}</p>
    </a>
    </div>
</div>


<div class="sub-title">
<p>Twitchで投稿されたもの</p>
</div>
<div class="live-stream-sub1">
    <a href="{% url 'Twitchapp:video_detail' random_videos.0.pk %}">
    <video controls>
        <source src="{{ random_videos.1.movie.url }}" type="video/mp4">
    </video>
    <p>{{ random_videos.1.movie_title }}</p>
</a>
</div>

<div class="live-stream-sub">
    <a href="{% url 'Twitchapp:video_detail' random_videos.0.pk %}">
    <video controls>
        <source src="{{ random_videos.2.movie.url }}" type="video/mp4">
    </video>
    <p>{{ random_videos.2.movie_title }}</p>
</a>
</div>

<div class="live-stream-sub">
    <a href="{% url 'Twitchapp:video_detail' random_videos.0.pk %}">
    <video controls>
        <source src="{{ random_videos.3.movie.url }}" type="video/mp4">
    </video>
    <p>{{ random_videos.3.movie_title }}</p>
</a>
</div>

</div>
{% else %}
<p>動画がありません。</p>
{% endif %}


{%endblock%}